<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-10"></div>
    <ul>
        <li>
            <h2>Trabajo 1</h2> - <h3>(Años)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab molestiae esse voluptas nostrum, accusamus corporis doloremque fuga harum vel, laborum sunt, nemo ullam beatae omnis? Quisquam nulla nihil voluptatum!</p>
        </li>
    </ul>
    <ul>
        <li>
            <h2>Trabajo 2</h2> - <h3>(Años)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab molestiae esse voluptas nostrum, accusamus corporis doloremque fuga harum vel, laborum sunt, nemo ullam beatae omnis? Quisquam nulla nihil voluptatum!</p>
        </li>
    </ul>
    <ul>
        <li>
            <h2>Trabajo 3</h2> - <h3>(Años)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab molestiae esse voluptas nostrum, accusamus corporis doloremque fuga harum vel, laborum sunt, nemo ullam beatae omnis? Quisquam nulla nihil voluptatum!</p>
        </li>
    </ul>
</div>
