
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/debi.jpg" class="img-fluid" class="fperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p class="nombre">Debora Fernanda Paradiso</p>
            <p>Full Stack Developer Jr.</p>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Quo autem dolor quam aliquid magni consequuntur nobis nulla 
                    necessitatibus error veritatis accusamus ullam sunt, minima 
                    temporibus commodi provident, voluptatum similique! Amet?holaholala
                </p>
            </span>
        </div>

    </div>


