<div class="row" id="hard">
    <h1>Hard Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/HTML5_Logo_256.png'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#035a5c '"
        [innerStrokeColor]="'#48b8b2'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/w3_css-official.svg'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#035a5c '"
        [innerStrokeColor]="'#48b8b2'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/javascript-2038874-1720087.webp'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#035a5c '"
        [innerStrokeColor]="'#48b8b2'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
  
</div>

<div class="row" id="soft">
    <h1>Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/HTML5_Logo_256.png'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#035a5c'"
        [innerStrokeColor]="'#48b8b2'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/w3_css-official.svg'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#035a5c'"
        [innerStrokeColor]="'#48b8b2'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/javascript-2038874-1720087.webp'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#035a5c'"
        [innerStrokeColor]="'#48b8b2'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
  
</div>