<div class="row">
    <div class="container">
        <div class="logo">

                <img src="../../../assets/APLogo-20-20.png" id="logoAP">
                <img src="../../../assets/inti.png" id="inti">
                <img src="../../../assets/min_desarrollo_productivo.png" id="minist">


        </div>
        <div class="redes">
            
                <a href=""><img src="../../../assets/facebook.png" id="face"> </a>
                <a href=""><img src="../../../assets/instagram.png" id="insta"> </a>
                <a href=""><img src="../../../assets/github.png" id="git"> </a>
                <button type="button" class="btn btn-outline-light">LOGIN</button>
               
            
        </div>
    </div>
</div>
